<div class="container-fluid" id='programForm'>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title">\{{ addEdit }} Program</h4>
					<p class="card-category">Enter the Program details below</p>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">Program</label>
									<select class="form-control" id="selProgram" v-model="selectedProg" required="required">
										<option disabled value="">Please select one</option>
										<option v-for="option in programs" v-bind:value="option.id">\{{ option.name }}</option>
										\{{ selectedProg }}
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="label-control">Venue</label>
									<select class="form-control" id="selVenue" v-model="selectedVenue" required="required">
										<option disabled value="">Please select one</option>
										<option v-for="option in venues" v-bind:value="option.id">\{{ option.name }}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">From Date (MM/DD/YYYY)</label>
									<input type="text" class="form-control" id="fromDate" required="required" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">To Date (MM/DD/YYYY)</label>
									<input type="text" class="form-control" id="toDate" required="required" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating">Acharya/Acharyashree</label>
									<select class="form-control" id="selAcharya" multiple="multiple" v-model="selectedAcharyas" required="required">
										<option v-for="option in acharyas" v-bind:value="option.id">\{{ option.name }}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating">Remarks</label>
									<textarea class="form-control" rows="5" id="remarks"></textarea>
								</div>
							</div>
						</div>
            <button class="btn btn-primary pull-right" @click="addProg">\{{ addEdit }}</button>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title ">Programs list</h4>
					<p class="card-category"> Here is a subtitle for this table</p>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead class=" text-primary">
								<th>
									SN
								</th>
								<th>
									Program Name
								</th>
								<th>
									Place
								</th>
								<th>
									Date
								</th>
								<th>
									Acharya/Acharyashree
								</th>
								<th>
									Delete
								</th>
							</thead>
							<tbody>
								<tr v-for="(item, i) in schedules">
									<td>
                  \{{ i + 1 }}
									</td>
									<td class="text-primary">
                    \{{ item.program.name }}
									</td>
									<td>
										\{{ item.venue.name }}
									</td>
									<td>
										\{{ item.fromDate + ' - ' + item.toDate }}
									</td>
									<td>
										\{{ item.acharyas.name.join(', ') }}
									</td>
									<td>
                    <i class="material-icons text-primary" style="cursor: pointer" @click="removeProg(item, i)">delete</i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="assets/js/programs.js"></script>
